<div class="__palestrantes__">
    <div class="_palestrantes_">
        <div class="title-txt">
            <h1 class="title1">palestrantes</h1>
            <p class="p-txt p">Os palestrantes do seminário são especialistas renomados de diversas áreas:
                profissionais de instituições acadêmicas, representantes do setor público, líderes de empresas de
                saneamento e consultores independentes; esses convidados trazem uma vasta experiência e diferentes
                perspectivas.</p>
        </div>
        <div 
            *ngFor="let itens of palestrante; let i = index" 
            class="list {{ 'list-' + (i + 1) }}"
            [id]="formatId(itens.nome)">
            <div class="img">
                <img *ngIf="itens.img && itens.img.trim() !== ''" 
                    [src]="itens.img" 
                    [alt]="itens.nome" 
                    class="palestrante-img">
            </div>
            <div class="info_txt {{ 'list' + (i + 1) }}">
                <h2 class="title2">{{ itens.nome }}</h2>
                <p class="title3"><strong>{{ itens.cargo }}</strong></p>
                <div class="img-mobile">
                    <img *ngIf="itens.img && itens.img.trim() !== ''" 
                    [src]="itens.img" 
                    [alt]="itens.nome" 
                    class="palestrante-img-mobile">
                </div>
                <div class="div-mobile">
                    <p class="p-txt">{{ itens.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>