<div class="__palestrantes__">
    <div class="_palestrantes_">
        <div class="title-txt">
            <h1 class="title1">palestrantes</h1>
            <p class="p-txt p">Os palestrantes do seminário são especialistas renomados de diversas áreas: 
                profissionais de instituições acadêmicas, representantes do setor público, líderes de empresas de saneamento e consultores independentes;  esses convidados trazem uma vasta experiência e diferentes perspectivas.</p>
        </div>
        <div class="listpalestrantes">
            <div *ngFor="let itens of palestrante; let i = index" class="list {{ 'list-' + (i + 1) }}">
                <div class="img"></div>
                <div class="info_txt {{ 'list' + (i + 1) }}">
                    <h2 class="title2">{{ itens.title2 }}</h2>
                    <h4 class="title4">{{ itens.title4 }}</h4>
                    <h5 class="title5">{{ itens.title5 }}</h5>
                    <p class="p-txt">{{ itens.descripiton }}</p>
                </div>
            </div>
        </div>
    </div>
</div>