.__live__{
    padding: 2rem 1rem 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.video{
    height: 50rem;
    width: 99rem;
}

iframe{
    border-radius: 3rem;
}