._home_ {
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
}

.__home_page__ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 4rem;
}

._home_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    padding: 3rem 0 0 0;
}

._home__{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
}

.adress-information {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
}

.txtinfo {
    font-weight: 400;
    font-size: 23px;
    word-break: break-word;

    &._2_ {
        padding: 1rem 0;
        height: 21rem;
    }
}

._home_txt {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 47rem;
    
}

._home_btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.btn {
    border-radius: 5rem;
    width: 20rem;
    height: 7rem;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    position: relative;

    &:hover {
        background-color: var(--secondary);
        animation: slide-top 0.7s both;
    }
}

._3_ {
    color: var(--White);
    font-weight: 400;
    font-size: 23px;

    &.strong {
        font-size: 2rem;
        font-weight: bold;
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@media (max-width: 768px) {
    .mobile-logo {
      content: url('../../../../../assets/images/logo-mobile.svg');
    }
    .img-logo{
        position: relative;
        left: 5rem;
    }

    ._home_{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10rem;
        align-items: center;
        justify-content: center;
        padding: 0 0 5rem 0;
    }

    ._home_page{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 4rem;
        flex-direction: column;
    }
    ._home_info{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 33rem;
        padding: 3rem 0 0 0;
    }

    ._home_btn{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        position: relative;
        bottom: 82rem;
    }

    ._home_txt{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 4rem;
    }

    .txtinfo ._2_{
        text-align: justify;
        word-break: break-word;
    }

    ._data_, .local, .adress{
        word-break: break-word;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;

        .___2{
            padding: 1rem 0;
            font-weight: bold;
            font-size: 35px;
        }
    }
}