<div class="_home_">
    <div class="__home_page__" *ngFor="let item of home">
        <div class="_home_info" >
            <div class="_home__">
                <div class="img-logo">
                    <div>
                        <img class="logo" [src]="item.img_home" alt="">
                        <img class="mobile-logo" [src]="item.img_home" alt="">
                    </div>
                    <div class="adress-information">
                        <div [ngClass]="item.class_data">
                            <p class="txtinfo ___1"><strong>{{ item.strong_data }}</strong></p>
                            <p class="txtinfo ___2">{{ item.data_ }}</p>
                        </div>
                        <div [ngClass]="item.class_local">
                            <p class="txtinfo ___1"><strong>{{ item.strong_local }}</strong></p>
                            <p class="txtinfo ___2">{{ item.local_ }}</p>
                        </div>
                        <div>
                            <p class="txtinfo ___2">{{ item.adress_ }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div_mobile_">
                <div class="_home_txt">
                    <p class="txtinfo _2_ _desktop_">{{ item.txt_1 }}</p>
                    <p class="txtinfo _2_ _desktop_ _mobile_">{{ item.txt_2 }}</p>
                    <p class="txtinfo _2_ _desktop_">{{ item.txt_3 }}</p>
                </div>
            </div>
        </div>
        <div class="_home_btn">
            <div class="btn-1">
                <a href="">
                    <button class="btn">
                        <p class="txtinfo _3_ strong">inscreva-se</p>
                        <p class="txtinfo _3_">vagas para estudantes</p>
                    </button>
                </a>
            </div>
            <div class="btn-2">
                <button class="btn" (click)="navigateToPage()">
                    <p class="txtinfo _3_ strong">veja</p>
                    <p class="txtinfo _3_">a transmissão</p>
                </button>
            </div>
        </div>
    </div>
</div>