<div class="__programacao__">
    <div class="_programacao_">
        <div class="title-txt">
            <h1 class="title1">Programação</h1>
            <p class="p-txt p">A Prefeitura de São Paulo promove um seminário sobre saneamento, abordando três eixos
                principais: <strong>
                    integração dos componentes do saneamento; desafios das mudanças climáticas e segurança hídrica e
                    inovações tecnológicas e modelos de governança.
                </strong> As messas abordarão desde abastecimento de água, esgotamento sanitário até resiliência das
                cidades e novas soluções para a gestão eficiente e sustentável do saneamento</p>
        </div>
        <div class="listprogramacao">
            <div class="date-and-table" *ngFor="let prog of programacao">
                <h2 class="date-txt">{{ prog.data }}</h2>
                <div class="table">
                    <table class="programacao-tabela">
                        <thead class="__table__">
                            <tr class="componentes">
                                <th>
                                    <div class="table-compoentes _1_ _1m">Horário</div>
                                </th>
                                <th>
                                    <div class="table-compoentes _2_ _2m">Eixo</div>
                                </th>
                                <th>
                                    <div class="table-compoentes _3_ _3m ">Mesa</div>
                                </th>
                                <th>
                                    <div class="table-compoentes _4_ _4m">Componentes</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="_table_">
                            <tr *ngFor="let evento of prog.eventos" class="_container_">
                                <td>
                                    <div class="_time_ _1_"
                                        [attr.id]="['Café','Abertura', 'Encerramento', 'Almoço', 'Intervalo-Café', 'Abertura-café', 'Happy-hour'].includes(evento.eixo) ? 'intervalo' + evento.eixo : null"
                                        [class.intervalo]="['Café', 'Abertura', 'Encerramento', 'Almoço', 'IntervaloCafé', 'Abertura-café', 'Happy hour'].includes(evento.eixo) ? 'intervalo__' + evento.eixo : null">
                                        {{ evento.horario }}
                                    </div>
                                </td>
                                <td [attr.colspan]="['Café', 'Encerramento', 'Almoço', 'Intervalo-Café', 'Abertura-café', 'Happy-hour'].includes(evento.eixo) ? 3 : evento.eixo === 'Abertura' ? 2 : 1"
                                    [class.intervalo]="['Café', 'Encerramento', 'Almoço', 'IntervaloCafé', 'Abertura-café', 'Happyhour'].includes(evento.eixo)">
                                    <div class="_eixo_ _2_"
                                        [attr.id]="['Café','Abertura', 'Encerramento', 'Almoço', 'Intervalo-Café', 'Abertura-café', 'Happy-hour'].includes(evento.eixo) ? 'intervalo-' + evento.eixo : null">
                                        {{ evento.eixo }}
                                    </div>
                                </td>
                                <td *ngIf="evento.mesa">
                                    <div class="_mesa_ _3_">
                                        {{ evento.mesa }}
                                    </div>
                                </td>
                                <td *ngIf="evento.componente">
                                    <div class="_palestrantes_ _4_">
                                        <ng-container
                                            *ngFor="let palestrante of evento.componente ?? []; let last = last">
                                            <span class="palestrante-link" [id]="formatarIdPalestrante(palestrante)"
                                                (click)="goToPalestrante(palestrante)">
                                                {{ palestrante }}
                                            </span>
                                            <br *ngIf="!last">
                                        </ng-container>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>