<div class="__programacao__">
    <div class="_programacao_">
        <div class="title-txt">
            <h1 class="title1">Programação</h1>
            <p class="p-txt p">
                O seminário aborda três eixos principais:
                <br>
                (1) - integração dos componentes do saneamento;
                <br>
                (2) - desafios das mudanças climáticas e segurança hídrica
                <br>
                (3) - inovações tecnológicas e modelos de governança.
                <br>
                Confira abaixo a programação:
            </p>
        </div>
        <div class="listprogramacao">
            <div class="date-and-table" *ngFor="let prog of programacao">
                <h2 class="date-txt">{{ prog.data }}</h2>
                <div class="table">
                    <table class="programacao-tabela">
                        <thead class="__table__">
                            <tr class="componentes">
                                <th>
                                    <div class="table-compoentes _1_ _1m">Horário</div>
                                </th>
                                <th>
                                    <div class="table-compoentes _2_ _2m">Eixo</div>
                                </th>
                                <th>
                                    <div class="table-compoentes _3_ _3m ">Mesa</div>
                                </th>
                                <th>
                                    <div class="table-compoentes _4_ _4m">Componentes</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="_table_">
                            <tr *ngFor="let evento of prog.eventos" class="_container_">
                                <td>
                                    <div class="_time_ _1_"
                                        [attr.id]="['Recepção', 'Encerramento', 'Abertura', 'Intervalo'].includes(evento.eixo) ? 'intervalo' + evento.eixo : null">
                                        {{ evento.horario }}
                                    </div>
                                </td>
                                <td [attr.colspan]="evento.eixo === 'Abertura' ? 2 : ['Recepção', 'Encerramento', 'Intervalo'].includes(evento.eixo) ? 3 : 1"
                                    [class.intervalo]="['Recepção', 'Encerramento', 'Abertura', 'Intervalo'].includes(evento.eixo)">
                                    <div class="_eixo_ _2_"
                                        [attr.id]="['Recepção', 'Encerramento', 'Abertura', 'Intervalo'].includes(evento.eixo) ? 'intervalo-' + evento.eixo : null">
                                        {{ evento.eixo }}
                                    </div>
                                </td>
                                <td *ngIf="evento.mesa">
                                    <div class="_mesa_ _3_">
                                        {{ evento.mesa }}
                                    </div>
                                </td>
                                <td *ngIf="evento.componente">
                                    <div class="_palestrantes_ _4_">
                                        <ng-container
                                            *ngFor="let abbreviation of evento.componente ?? []; let last = last">
                                            <span class="palestrante-link" [id]="formatarIdPalestrante(abbreviation)"
                                                (click)="goToPalestrante(abbreviation)">
                                                {{ abbreviation }}
                                            </span>
                                            <br *ngIf="!last">
                                        </ng-container>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>