<div class="_navigation_">
    <div class="_list_navigation_">
        <ul class="nav">
            <li class="_nav_ _desktop_"><a class="p_nav" href="">início</a></li>
            <li class="_nav_ _desktop_"><a class="p_nav" [routerLink]="'inscrição'"> inscreva-se </a></li>
            <li class="_nav_ _desktop_"><a class="p_nav" [routerLink]="'programacao'"> programação </a></li>
            <li class="_nav_ _desktop_"><a class="p_nav" [routerLink]="'palestrantes'"> palestrantes</a></li>
            <li class="_nav_ _desktop_"><a class="p_nav" [routerLink]="'live-palestra'"> transmissão </a></li>
        </ul>
    </div>
</div>

<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button" (click)="toggleMenu()">
        <span class="navigation__icon"></span>
    </label>
    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="_nav_"><a class="p_nav" href="">início</a></li>
            <li class="_nav_"><a class="p_nav" [routerLink]="'inscrição'">inscreva-se</a></li>
            <li class="_nav_"><a class="p_nav" [routerLink]="'programacao'">programação</a></li>
            <li class="_nav_"><a class="p_nav" [routerLink]="'palestrantes'">palestrantes</a></li>
            <li class="_nav_"><a class="p_nav" [routerLink]="'live-palestra'">transmissão</a></li>
        </ul>
    </nav>
</div>